main {
  background-color: #fafbfc;
}
main img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
   transform: translateY(-20px);
}

main .back {
  background-color: #fff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
}

main .back img {
  width: 10%;
  height: 10%;
  margin-right: 30px;
  transform: translateY(0);
}

main .back h1 {
  color: #02073e;
  font-weight: 400;
  margin: 0;
  font-size: 36px;
}

main .back h1 span {
  color: #ffa500;
  font-weight: 700;
}

main .chats {
  width: 90%;
  margin: 10px auto;
  background: #fff;
  padding: 10px;
}

main .chats .ellipses img {
  height: 20%;
  width: 20%;
  margin: 0;
}

main .chats .ellipses .first {
  width: 50%;
}

main .chats .ellipses .sec {
  width: 70%;
}

main .chats .ellipses .third {
  width: 80%;
}

main .chats section {
  margin-top: 5px;
}

main .chats section .intro {
  display: flex;
  align-items: flex-start;
}

main .chats section .intro img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  margin-top: 8px;
}

main .chats section .intro .greet p {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 5px 0;
}

main .chats section .intro .greet h4 {
  margin: 0;
  background-color: #ffa500;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
  border-radius: 42px;
  position: relative;
  text-align: center;
  width: 197.47px;
}

main .chats section .intro .greet h4::after {
  content: "";
  height: 20px;
  width: 18px;
  background-color: #ffa500;
  left: -10px;
  top: 0px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(294deg);
  position: absolute;
}

main .chats section .intro .greet h5 {
  background-color: #ffa500;
  color: #fff;
  padding: 10px;
  border-radius: 32px;
  font-size: 18px;
  margin: 10px 0 0 0;
  width: 205px;
}

main .chats section .note {
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 36px 0;
  padding: 6px 3px;
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.3);
  color: #ffa500;
}



main .chats section .note p {
  margin: 0;
}

main .chats section .note p:first-child {
  margin-right: 5px;
}

main .chats .answer-chat {
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

main .chats .answer-chat img {
  margin-left: 15px;
}

main .chats .answer-chat .typo {
  margin-left: auto;
}

main .chats .answer-chat .typo p {
  font-size: 14px;
  font-style: italic;
  margin: 0 0 5px 0;
}

main .chats .answer-chat .typo h3 {
  margin: 0;
  background-color: #ffa500;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 42px;
  position: relative;
  width: 197.47px;
}
main .chats .answer-chat .typo h3::after {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #ffa500;
  right: -5px;
  top: -2px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(288deg);
  position: absolute;
}
main .chats .counsellor-chat {
  display: flex;
  margin: 20px 0;
}

main .chats .counsellor-chat p {
  border-radius: 32px;
  font-size: 18px;
  background-color: #ffa500;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  width: 220px;
}
main .chats .counsellor-chat p:first-child {
  margin-top: 0;
  position: relative;
}
main .chats .counsellor-chat p:first-child::after {
  content: "";
  height: 20px;
  width: 18px;
  background-color: #ffa500;
  left: -6px;
  top: 0px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(294deg);
  position: absolute;
}
article {
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 20px auto 30px auto;
}
article p {
  color: #ffa500;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}
article p:last-child {
  background-color: #ffa500;
  color: white;
  border-radius: 0 0 8px 8px;
}
.last-comment {
  margin: 20px 0 30px 0;
  display: flex;
}

.last-comment p {
  margin: 10px 0 0 0;
  background-color: #ffa500;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  border-radius: 42px;
  position: relative;
  text-align: center;
  width: 197.47px;
}
.last-comment p::after {
  content: "";
  height: 20px;
  width: 18px;
  background-color: #ffa500;
  left: -8px;
  top: 0px;
  border-radius: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(294deg);
  position: absolute;
}
.input-reply {
  position: relative;
}
input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #ffa500;
}
input:focus {
  outline: 2px solid #ffa500;
}
button {
  background-color: #ffa500;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  width: 30%;
  padding: 11px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  border-radius: 0 10px 10px 0;
}
button img {
  width: 20px;
  height: 20px;
  transform: translateY(0);
}
button p {
  margin: 0 0 0 -5px;
}

@media (min-width: 1024px) {
     main {
    width: 40%;
    margin: 30px auto;
    box-shadow: 0px 8px 8px rgba(250, 170, 170, 0.1),
      -2px 10px 10px rgba(0, 0, 0, 0.2);
  }
  main .chats section .note {
    width: 80%;
    margin: 30px auto;
    padding: 12px 8px;
  }
  article {
    width: 80%;
  }
}